* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tinos", serif;
    color: #AAB7B7;
    background-color: #D4D8DD;
    overflow-x: hidden;

}

header {
    background-color: #AAB7B7;
    color: #C0C8CA;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    z-index: 1000;
    padding: 0 20px; 
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
    
}

.navbar a:hover {
    color: #AAB7B7;
}

.brand-name {
    text-align: center;
    flex-grow: 1;
    font-family: "Tinos", serif;
    cursor: pointer;
    margin-left: 30px; 

}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    margin-left: 10px;
    
    
    
}

.menu-button .line {
    width: 100%;
    height: 3px;
    background: #333;
    transition: all 0.3s ease-in-out;
}

.menu-button.active .line1 {
    transform: rotate(70deg) translate(7px, 7px);
}


.menu-button.active .line2 {
    transform: rotate(-70deg) translate(7px, -7px);
}

.menu {
    display: none;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;
    top: 60px; 
    left: 0;
    width: 250px; 
    height: 10vh; 
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    transition: transform 0.3s ease-in-out;
        border-radius: 0 0 70% 0;
    }
    



.menu.show {
    display: flex;
    
}

.menu ul {
    list-style: none;
    padding: 0;
    

}

.menu ul li {
    margin: 10px 0;
    margin-top: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
    
}

.menu ul li a:hover {
    color: #AAB7B7;
}


.content {
    margin-left: 270px; 
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
    
}



.registrarse {
    text-decoration: none;
    color: #333;
    

}

 .registrarse:hover {
    color: #333;
}


.prueba{
    margin-top: 20%;
}

#cart-icon-img {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cart-icon.active #cart-icon-img {
    content: url('/static/Img/shopping-cart-11614817-unscreen.gif'); 
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;}




.cart-dropdown {
    display: none; 
}

.cart-icon.active + .cart-dropdown {
    display: block; 
}


.right-menu .registrarse {
    text-align: center;           
    flex-grow: 1;                 
    font-family: "Tinos", serif; 
    cursor: pointer;            
    font-size: 20px;              
    margin-top: -15px;
}


#cart-dropdown {
    display: none; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px; 
    right: 0;
    width: 250px; 
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    z-index: 9999;
    

}

.cart-dropdown.show {
    display: flex;
}

.cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #333;

}


.cart-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: auto; 
    height: 90px; 
    margin-right: 10px;
    border-radius: 5px;
    display: block; 
}


.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-item-title,
.cart-item-size,
.cart-item-price {
    margin: 0;
    font-size: 14px;
}


.cart-dropdown .clear-cart-btn,
.cart-dropdown .checkout-btn {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-dropdown .clear-cart-btn:hover,
.cart-dropdown .checkout-btn:hover {
    background: #555;
}


.cart-dropdown .remove-item {
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-dropdown .remove-item:hover {
    background-color: #555;
    transform: scale(1.1);
}


.cart-item-actions button {
    padding: 5px;
    border: none;
    background: #333;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
}

.cart-item-actions button:hover {
    background: #555;
}


.cart-item-quantity {
    margin: 5px 0;
    font-size: 14px;
    font-family: "Tinos", serif;
    display: flex;
    align-items: center; 
}


.cart-item-quantity {
    margin: 5px 0;
    font-size: 14px;
    font-family: "Tinos", serif;
    display: flex; 
    align-items: center; 
}


.cart-item-quantity {
    margin: 5px 0;
    font-size: 14px;
    font-family: "Tinos", serif;
    display: flex; 
    align-items: center; 
}


.decrease-quantity, .increase-quantity {
    background-color: #333; 
    color: #fff;
    border: none;
    padding: 4px; 
    font-size: 16px; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0 5px;
    width: 30px; 
    height: 30px; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
}


.decrease-quantity:hover, .increase-quantity:hover {
    background-color: #444;
    transform: scale(1.1); 
}


.decrease-quantity:active, .increase-quantity:active {
    background-color: #222; 
    transform: scale(0.95); 
}




.slider-container {
    margin-top: 3%;
    position: relative;
    width: 100%; 
    aspect-ratio: 16 / 9;
    overflow: hidden;

}

.slider {
    display: flex;
    width: 100%; 
    transition: transform 0.5s ease;
}

.slide {
    flex: 1 0 100%; 
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.prev-btn, .next-btn {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -22%;
}

.intro {
    flex: 1;
    padding: 20px;
    max-width: 50%;
    opacity: 1;
    transform: translateX(-100%); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.image-section {
    flex: 1;
    max-width: 50%;
    height: 1000px; 
    overflow: hidden;
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.video {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.intro h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Tinos", serif;
    text-align: center; 
    color: black; 
    
}

.intro p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center; 
    color: black; 
    font-family: "Tinos", serif;
}

strong {
    font-weight: bold;
    text-align: center;
    color: black; 
    font-family: "Tinos", serif;
}



footer {
    background-color: #AAB7B7;
    color: #C0C8CA;
    padding: 20px;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    left: 0;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0; 
    z-index: 9999; 
}


footer.show {
    opacity: 1; 
    transform: translateY(0); 
}


footer.hide {
    opacity: 0; 
    transform: translateY(100%); 
}


.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.social-links a {
    display: block;
}

.social-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    
}

.social-links img:hover {
    transform: scale(1.2); 
}

.drop-timer {
    text-align: center;
    padding: 25px;
    margin-bottom: 7%; 
    opacity: 0; 
    transform: translateY(100%); 
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 9999; 
}


.drop-timer.show {
    opacity: 1; 
    transform: translateY(0); 
}


.drop-timer.hide {
    opacity: 0; 
    transform: translateY(100%); 
}

.timer {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    margin-top: 2%;
}

.timer div {
    font-family: "Tinos", serif;
}

#months, #days, #hours, #minutes, #seconds {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 15px;
    background-color: #333;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    width: 50px;
}
